.photo-grid {
  max-width: calc(100% - (2*16px));
  margin: 0 auto;
  padding-top: 64px;
}

@media screen and (min-width: 768px) {
  .photo-grid {
    max-width: calc(100% - (2*24px));
    padding-top: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    max-width: calc(100% - (2*48px));
    padding-top: 92px;
  }
}

