.intro__list {
  max-width: 288px;
  max-height: 90px;
  list-style: none;
  margin: 0;
  padding-top: 34px;
  padding-left: 0;
  font-size: 12px;
  line-height: 18px;
  font-style: normal;
}
@media screen and (min-width: 768px) {
  .intro__list {
    max-width: 720px;
    padding-top: 33px;
  }
}
@media screen and (min-width: 1024px) {
  .intro__list {
    max-width: 690px;
  }
}
