.places__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  padding-top: 12px;
}

@media screen and (min-width: 1024px) {
  .places__link:hover {
    opacity: .8;
  }
}
