.places__paragraphs {
  max-width: calc(100% - 32px);
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  vertical-align: top;
  }

@media screen and (min-width: 768px) {
  .places__paragraphs {
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .places__paragraphs {
    font-size: 18px;
    line-height: 29.34px;
  }
}
