.footer {
  padding-top: 64px;
  max-width: calc(100% - 32px);
  padding-bottom: 22px;
  margin: 0 auto;
  display: grid;
  justify-content: space-between;
  row-gap: 46px;
}

@media screen and (min-width: 768px) {
  .footer {
    max-width: calc(100% - (2*24px));
    padding-top: 88px;
    grid-template-columns: repeat(2, max-content);
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    max-width: calc(100% - (2*48px));
    padding-top: 92px;
  }
}
